*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Principais */
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  /* Base */
  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;
}

/* Title fonts properties */
.title-lg {
  font-family: "Asap", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
}
.title-md {
  font-family: "Asap", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
}
.title-sm {
  font-family: "Asap", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}
/* Subtitle fonts properties */
.subtitle {
  font-family: "Inconsolata", monospace;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
}

/* Text fonts properties */
.text-md {
  font-size: 1rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  line-height: 140%;
}
.text-sm {
  font-size: 0.875rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  line-height: 140%;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radius-8 {
  border-radius: 8px;
}
.radius-12 {
  border-radius: 12px;
}

/* RESET IMAGES PROPERTIES */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

a {
  text-decoration: none;
}

.social-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  background-color: var(--gray-300);
  color: var(--gray-500);
}

section {
  > h2 {
    color: var(--red);
  }

  > p:first-of-type {
    color: var(--gray-600);
  }
  > p:last-of-type {
    margin-block: 0.5rem 3.5rem;
    color: var(--gray-500);
  }
}

.background {
  background-image: url(../images/Background_Intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-desc {
  gap: 0.5rem;
  align-items: start;

  h3 {
    color: var(--gray-600);
  }
  p {
    color: var(--gray-500);
  }
}
