#profile {
  height: 100vh;
  position: relative;

  .img-profile {
    position: relative;

    > img:first-of-type {
      padding: 3px;
      border-radius: 100%;
      border: 2px solid var(--red);
    }

    span {
      width: 31px;
      height: 15px;
      position: absolute;
      bottom: 10px;
      right: 0;
    }
  }

  > p:nth-child(2) {
    color: var(--gray-500);
    margin-block: 3.5rem 0.5rem;
    span {
      color: var(--red);
    }
  }
  h1 {
    color: var(--gray-600);
    margin-bottom: 1.25rem;
  }

  > p:nth-child(4) {
    color: var(--gray-400);
    max-width: 680px;
    margin-bottom: 5rem;
  }

  .social-links {
    display: flex;
    gap: 1rem;
  }

  > a img:last-of-type {
    position: absolute;
    bottom: 20px;
  }
}
#projects {
  padding-block: 5rem 7.5rem;
  background-color: var(--gray-200);

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    .project-card {
      max-width: 330px;
      background-color: var(--gray-300);
      padding-block: 0.75rem 1.25rem;
      padding-inline: 0.75rem;
      gap: 1.25rem;
      outline: 1.5px solid var(--gray-400);
      outline-offset: -1.5px; /* Evita que a borda afete o layout */
      transition: outline-color 0.2s ease-in-out, outline-offset 3s ease-in-out;
      outline-color: transparent;
    }

    .project-card:hover {
      outline-color: var(--gray-400);
      outline-offset: 0px; /* Volta para a posição normal */
    }
  }
}
#services {
  padding-block: 5rem 7.5rem;
  background-color: var(--gray-100);
  .all-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    .card {
      align-items: start;
      border: 2px solid var(--gray-200);
      padding: 1.25rem;
      gap: 1.25rem;
    }
  }
}
#contact {
  background-image: url(../images/Background_Contacts.png);
  height: 100vh;

  > p:nth-child(2) {
    padding-top: 0.5rem;
  }

  > p:nth-child(3) {
    margin-block: 0.5rem 3rem;
  }

  .contact-social-links {
    display: flex;
    gap: 1rem;

    .button-contact {
      width: 400px;
      background-color: var(--gray-300);
      flex-direction: row;
      justify-content: space-between;
      padding: 1.375rem;
      color: var(--gray-500);
      gap: 0.75rem;
      outline: 1.5px solid var(--blue);
      outline-offset: -1.5px; /* Evita que a borda afete o layout */
      transition: outline-color 0.2s ease-in-out, outline-offset 3s ease-in-out;
      outline-color: transparent;
      > svg path {
        transition: fill 0.2s ease-in-out;
      }
    }

    .button-contact:hover {
      outline-color: var(--blue);
      outline-offset: 0px; /* Volta para a posição normal */
      > svg path {
        fill: var(--blue);
      }
    }

    p {
      flex: 1;
    }
  }
}
